<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Sitters -Signaler un utilisateur</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://skyfight.be/Sitters.png" height="35" style="border-radius: 5px;" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Profile?Id={{SessionUser.pk}}">Mon Profil</a>
      </li>
      {% if SessionUser.Status != "Parent" %}
      <li class="nav-item">
        <a class="nav-link" href="/AddDisponibility">Ajouter</a>
      </li>
      {% endif %}
      {% if SessionUser.Status != "Sitter" %}
      <li class="nav-item">
        <a class="nav-link" href="/Search">Rechercher</a>
      </li>
      {% endif %}
    </ul>
    <span class="navbar-text">
      <a href="/Logout" style="color: red; text-decoration: none;">Déconnexion</a>
    </span>
  </div>
</nav>
<br/>
<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Sitters</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Signaler un utilisateur</li>
	  </ol>
	</nav>
	<div class="card">
		<div class="card-header">
			Signaler {{ User.Firstname }} {{ User.Lastname }}
		</div>
		<div class="card-body">
			{% if Error %}
				<div class="alert alert-danger">
					{{ Error }}
				</div>
			{% endif %}
			{% if Success %}
				<div class="alert alert-success">
					{{ Success }}
				</div>
			{% endif %}
			{% if not Success %}
			<form method="get" action="/Report">
				<label for="Comment">Merci de justifier le signalement de {{ User.Firstname }} {{ User.Lastname }}</label>
				<textarea name="Comment" id="Comment" class="form-control" rows="10" ></textarea><br/>
				<input type="hidden" name="User" value="{{User.pk}}" />
				<input type="submit" class="btn btn-danger form-control" value="Signaler" />
			</form>
			{% endif %}
		</div>
	</div>
</div>
</body>
</html>